{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-console": 1,
    "react/prop-types": 0,
    "react/no-string-refs": 1,
    "react/display-name": 0,
    "compat/compat": "error",
    "import/no-unresolved": 0,
    "promise/catch-or-return": 0
  },
  "settings": {
    "import/external-module-folders": ["node_modules", "src"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:promise/recommended",
    "plugin:import/errors"
  ],
  "plugins": [
    "prettier",
    "react",
    "promise",
    "compat",
    "import"
  ]
}
